{% extends 'apiCalls/base_after_login.html' %}
{% load static %}
{% block content %}

<div class="container">

    <form id = "analysisform">
      <div class="wrap-input">
        <select name = "market" class="form-control" id="market">
            <option disabled selected value>Select Cotton Variety</option>
          </select>
      </div>

      <div class="wrap-input">
        <select name = "cottontypes" class="form-control" id="cottontypes">
            <option disabled selected value>Select Market </option>
          </select>
      </div>
      <div class="btn-center">
        <button type = "submit" class="login-form-btn">
          Show Analysis
      </button>
      
      </div>
     
    </form>
  
    <div id = "chartViewer" style="display: none;padding-bottom: 100px;">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div id="daily_forecast_chart" class="w-100 d-block" style="height: 400px;"></div>
          </div>
          <div class="carousel-item">
            <div id="weekly_forecast_chart" class="w-100 d-block" style="height: 400px;"></div>
          </div>
          <div class="carousel-item">
            <div id="monthly_forecast_chart" class="w-100 d-block" style="height: 400px;"></div> 
          </div>
          <div class="carousel-item">
            <div id="barChart" style="height: 400px; width: 100%;"></div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" style="color: black;" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true" style="color: black;"></span>
          <span class="sr-only" style="color: black;">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>

  <table class="table-inventory foo-padding" style="padding-bottom: 200px;" id="forecast">

  <script>
    window.onload = ()=> {
      console.log("here")
      fetch("http://localhost:8000/getmarket/",{
          method: 'GET',
      })
      .then(function(response) {
          console.log(response)
          return response.json()
      })
      .then((resp)=> {
          console.log(resp)
          market = document.getElementById("market")
          for(var i=0;i<resp.length;i++){
            var option = document.createElement('option');
            option.text = resp[i].name;
            option.value = resp[i].id
            market.add(option);
          }
          loadCottonType()
      })
  
    }
  </script>

  <script>
    function loadCottonType(){
      console.log("In cotton")
      fetch("http://localhost:8000/getcottontypes/",{
          method: 'GET',
      })
      .then(function(response) {
          console.log(response)
          return response.json()
      })
      .then((resp)=> {
          console.log(resp)
          cottontypes = document.getElementById("cottontypes")
          for(var i=0;i<resp.length;i++){
            var option = document.createElement('option');
            option.text = resp[i].name;
            option.value = resp[i].id
            cottontypes.add(option);
          }
      })
    }
  </script>

<script>

  document.getElementById("analysisform").onsubmit = function(event) {
    event.preventDefault()
    
    console.log("here in forms")
    
    var market = document.getElementById("market")
    var cotton_type = document.getElementById("cottontypes")
    var selected_market = '';
    var selected_cotton_type = '';
    if (market.selectedIndex != -1)
      selected_market = market.options[market.selectedIndex].value;
    if (cotton_type.selectedIndex != -1)
      selected_cotton_type = cotton_type.options[cotton_type.selectedIndex].value
    console.log(market)
    console.log(selected_market, selected_cotton_type)

    var data = {
      "market": selected_market,
      "cotton_type": selected_cotton_type
    }
    
    console.log(data)
    var table_forecast=document.getElementById('forecast').insertRow(-1);
    var Period = table_forecast.insertCell(0);
    var Date = table_forecast.insertCell(1);
    var Forecast = table_forecast.insertCell(2);
    Period.innerHTML="Period";
    Date.innerHTML="Date";
    Forecast.innerHTML="Forecast";

    fetch("http://localhost:8000/getanalysis/",{
      method: "POST",
      body: JSON.stringify(data)

      
    })
    .then((response) => {
      return response.json()
    })
    .then((response) => {
      console.log(response)
      daily_forecast_data = []
      weekly_forecast_data = []
      monthly_forecast_data = []
      daily_lower_bound = []
      daily_upper_bound = []
      weekly_lower_bound = []
      weekly_upper_bound = []
      monthly_lower_bound = []
      monthly_upper_bound = []

      for(var i=0; i< response.length; i++){
        var point,point_lower,point_upper;
        console.log(response[i].period)
        if (response[i].period =="Daily"){
          point = {
            "label": response[i].date,
            "y": parseInt(response[i].prediction)
          }
          daily_forecast_data.push(point)
          point_lower = {
            "label": response[i].date,
            "y": parseInt(response[i].confidence_lower)
          }
          daily_lower_bound.push(point_lower)
          point_upper = {
            "label": response[i].date,
            "y": parseInt(response[i].confidence_upper)
          }
          daily_upper_bound.push(point_upper)
        }
        else if (response[i].period == "Weekly"){
          point = {
            "label": response[i].date,
            "y": parseInt(response[i].prediction)
          }
          weekly_forecast_data.push(point)
          point_lower = {
            "label": response[i].date,
            "y": parseInt(response[i].confidence_lower)
          }
          weekly_lower_bound.push(point_lower)
          point_upper = {
            "label": response[i].date,
            "y": parseInt(response[i].confidence_upper)
          }
          weekly_upper_bound.push(point_upper)
        }
        else if (response[i].period == "Monthly"){
          point = {
            "label": response[i].date,
            "y": parseInt(response[i].prediction)
          }
          monthly_forecast_data.push(point)
          point_lower = {
            "label": response[i].date,
            "y": parseInt(response[i].confidence_lower)
          }
          monthly_lower_bound.push(point_lower)
          point_upper = {
            "label": response[i].date,
            "y": parseInt(response[i].confidence_upper)
          }
          monthly_upper_bound.push(point_upper)
        }/*var new_tbody = document.createElement('tbody');
populate_with_new_rows(new_tbody);
old_tbody.parentNode.replaceChild(new_tbody, old_tbody)*/

            var table_forecast=document.getElementById('forecast').insertRow(-1);
            var Period = table_forecast.insertCell(0);
            var Date = table_forecast.insertCell(1);
            var Forecast = table_forecast.insertCell(2);
            Period.innerHTML=response[i].period
            Date.innerHTML=response[i].date
            Forecast.innerHTML=response[i].prediction
      }
      console.log(daily_forecast_data)
      console.log(weekly_forecast_data)
      console.log(monthly_forecast_data)
      document.getElementById("chartViewer").style.display = "block";
      document.getElementById("chartViewer").style.width = "100%";
      showChart(daily_forecast_data,daily_lower_bound,daily_upper_bound,"daily_forecast_chart", "Daily Forecast Chart")
      showChart(weekly_forecast_data,weekly_lower_bound,weekly_upper_bound,"weekly_forecast_chart", "Weekly Forecast Chart")
      showChart(monthly_forecast_data,monthly_lower_bound,monthly_upper_bound, "monthly_forecast_chart", "Monthly Forecast Data")
      barGraph()
      
    })
            
            

  }
</script>



<script>
  function showChart(forecast_data,lower_bound, upper_bound, type_of_graph,text) {
	var chart = new CanvasJS.Chart(type_of_graph, {
		title:{
			text: text             
		},
    axisX: {
		title: "Date (YYYY-MM-DD)"  
	},
  axisY:{
		title: "Forecast Price (in Rs)",
		includeZero: true,
		valueFormatString: "$#0"
	},
  toolTip: {
		shared: true
	},
	legend: {
		cursor: "pointer",
		verticalAlign: "top",
		horizontalAlign: "center",
		dockInsidePlotArea: true,
		itemclick: toogleDataSeries
	},
		data: [              
		{
			// Change type to "doughnut", "line", "splineArea", etc.
			type:"spline",
		name: "Forecast Data",
		showInLegend: true,
		markerSize: 0,
		yValueFormatString: "$#,###k",
			dataPoints: forecast_data
		},
    {
      type:"spline",
		name: "Lower Bound of Confidence Interval",
		showInLegend: true,
		markerSize: 0,
		yValueFormatString: "$#,###k",
			dataPoints: lower_bound
    },
    {
      type: "spline",
      name: "Upper Bound of Confidence Interval",
		showInLegend: true,
		markerSize: 0,
		yValueFormatString: "$#,###k",
			dataPoints: upper_bound
    }
		]
	});
	chart.render();
}

function toogleDataSeries(e){
	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	} else{
		e.dataSeries.visible = true;
	}
	chart.render();
}

</script>

<script>

  function load_specific_chart(chart){
    console.log(chart) 
  }

</script>

<script>
  function barGraph() {
    fetch("http://localhost:8000/getcottontypeanalysis",{
      method : "GET"
    })
    .then((response) => {
      return response.json()
    })
    .then((response)=>{
      console.log(response)
      cotton = other = american = mcu = h =shanker = f = lh = gch = desi = lra = hb = dch = 0;
      c_cotton = c_other = c_american = c_mcu = c_h = c_shanker = c_f = c_lh = c_gch = c_desi = c_lra = c_hb = c_dch = 0

      for(var i = 0;i<response.length;i++){
        if (response[i].cotton_type.name == "Cotton"){
          cotton+= parseInt(response[i].prediction);
          c_cotton += 1
        }
        else if (response[i].cotton_type.name == "Other"){
          other += parseInt(response[i].prediction);
          c_other += 1
        }
        else if (response[i].cotton_type.name == "American"){
          american += parseInt(response[i].prediction);
          c_american += 1
        }
        else if (response[i].cotton_type.name == "MCU"){
          mcu += parseInt(response[i].prediction);
          c_mcu += 1
        }
        else if (response[i].cotton_type.name == "H"){
          h += parseInt(response[i].prediction);
          c_h += 1
        }
        else if (response[i].cotton_type.name == "Shanker"){
          shanker += parseInt(response[i].prediction);
          c_shanker += 1
        }
        else if (response[i].cotton_type.name == "F"){
          f += parseInt(response[i].prediction);
          c_f += 1
        }
        else if (response[i].cotton_type.name == "GCH"){
          gch += parseInt(response[i].prediction);
          c_gch += 1
        }
        else if (response[i].cotton_type.name == "Desi"){
          desi += parseInt(response[i].prediction);
          c_desi += 1
        }
        else if (response[i].cotton_type.name == "LRA"){
          lra += parseInt(response[i].prediction);
          c_lra += 1
        }
        else if (response[i].cotton_type.name == "H.B"){
          hb += parseInt(response[i].prediction);
          c_hb += 1
        }
        else if (response[i].cotton_type.name == "DCH"){
          dch += parseInt(response[i].prediction);
          c_dch += 1
        }
        else if (response[i].cotton_type.name == "LH"){
          lh += parseInt(response[i].prediction);
          c_lh += 1
        }
      }
      dataPoints = []
      dataPoints.push({y: cotton/c_cotton, label: "Cotton"})
      dataPoints.push({y: other/c_other, label: "Other"})
      dataPoints.push({y: american/c_american, label: "American"})
      dataPoints.push({y: mcu/c_mcu, label: "MCU"})
      dataPoints.push({y: h/c_h, label: "H"})
      dataPoints.push({y: shanker/c_shanker, label: "Shanker"})
      dataPoints.push({y: f/c_f, label: "F"})
      dataPoints.push({y: lh/c_lh, label: "LH"})
      dataPoints.push({y: gch/c_gch, label: "GCH"})
      dataPoints.push({y: desi/c_gch, label: "Desi"})
      dataPoints.push({y: lra/c_lra, label: "LRA"})
      dataPoints.push({y: hb/c_hb, label: "H.B"})
      dataPoints.push({y: dch/c_dch, label: "DCH"})
      showBarChart(dataPoints)
    })
  }
</script>

<script>
  function showBarChart(dataPoints) {
	var chart = new CanvasJS.Chart("barChart", {
		title:{
			text: "Average Price Over The Forecast of Next 7 days"             
		},
    axisX: {
		title: "Average Forecast Price",  
    interval: 1
	},
  axisY:{
		title: "Cotton Types",
	},
		data: [              
		{
			// Change type to "doughnut", "line", "splineArea", etc.
			type: "bar",
			dataPoints: dataPoints
		}
		]
	});
	chart.render();
}
</script>



{% endblock %}