+'<footer class="content">'
  +'<form method = "POST" action = "/buyproduct/">'
  +'<input type = "text" value =' + response[i].order.id + '+><input type ="submit" class="btn btn-primary" value="Buy">'
  +'</form>'
  +'<form method = "POST" action = "/removeproduct/">'
  +'<input type = "text" value =' + response[i].order.id + '+><input type ="submit" class="btn btn-primary" value= "Remove From Cart">'
  +'</form>'
+'</footer>'

<header>
  <a class="remove"><h3>Remove product</h3></a><a class = "remove"><h3>Buy product</h3></a>
</header>