{% extends 'apiCalls/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type = "text/css" href='{% static "/css/style-login.css" %}'>
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-4 bg-image-faq"></div>
        <div class="col-md-8 col-lg-8">
        <div class="login d-flex align-items-center py-5">
            <div class="container"> 
            <div class="row">
                <div class="col-md-9 col-lg-8 mx-auto">
                    <div class="logincontainer" style="text-align: justify;">
                        <div class="heading">
                            <h3>Frequently Asked Questions</h3>
                        </div>
                        <div class="wrap-input">
                            <h4>1. Who are the end users of this application?</h4>
                            <p>Cotton farmers,concerned Ministry officials and cotton buyers.</p>
                        </div>
                        <div class="wrap-input">
                            <h4>2. How can cotton farmers benefit from this application?</h4>
                            <p>Cotton farmers will be able to view the forecast of the prices of cotton for various periods(daily,weekly,monthly) and hence choose a suitable price for their cotton.
                                They can use our application to sell their variety of cotton from their respective market places.
                               </p>
                        </div>
                        <div class="wrap-input">
                            <h4>3. How can the ministry officials help the farmers using this application?</h4>
                            <p> Based on our pricing model's predictions ministry officials can decide on providing subsidy to the cotton farmers if the rate is high.</p>
                        </div>
                        <div class="wrap-input">
                            <h4>4. How can a cotton buyer  benefit from this application?</h4>
                            <p>Our application provides buyer option to choose among various cotton vendors and their variety of cotton with their suggested price and market place.Based on these factors the buyers can choose asper their needs.</p>
                        </div>
                        <div class="wrap-input">
                            <h4>5. How can I link to this site?</h4>
                            <p> One will have to register at <a href="https://cotton-forecast-sih.herokuapp.com/signup/" style="text-decoration: none;">CottonHub</a> for using our application.Once registered it can be used as by logging in.
                                One can also download our application for android - # in playstore.
                            </p>
                        </div>
                        <div class="wrap-input">
                            <h4>6. How accurate are the suggested cotton price forecasts?</h4>
                            <p> We have come up with an AI based solution that compares between several time series models and nueral networks to achieve the best pricing model.We have also considered possibilities of natural disasters and their effect on prices.All of these data is represented through easily understandable graphs.
                            </p>
                        </div>
                        <div class="flex-col-c">
                            
                        </div>
                           
                        </form>
                    
                <div class="col-sm-2">
                    
                </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>

<script>

    fetch("http://localhost:8000/getfaq",{
        method: "GET",
    })
    .then((response) => {
        return response.json()
    })    
    .then((response) => {
        console.log(response)
    })

</script>

{% endblock %}