{% extends 'apiCalls/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" type = "text/css" href='{% static "/css/style-login.css" %}'>
    <div class="welcome">

        {% if errors %}
        <div class="alert alert-warning">
            <strong>Warning</strong>  {{errors}}
          </div>
        {% endif %}
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container"> 
                <div class="row">
                    <div class="col-md-9 col-lg-8 mx-auto">
                    <h3 class="login-heading mb-4">Feedback or Complaints</h3>
                    <form method = "POST" action = "/feedback/">
                        <div class="form-label-group">
                        <input type="text" id="subject" name="subject" class="form-control" placeholder="subject" required autofocus>
                        <label for="subject">Subject</label>
                        </div>

                        <div class="form-label-group">
                            <textarea id="body" name="body" class="form-control" placeholder="Please enter your feedback of complaint here" autofocus></textarea>
                            </div>
                        <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Submit </button>
                    </form>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>


{% endblock %}