{% extends 'apiCalls/base_before_login.html' %}
{% load static %}
{% block content %}

    <div class="welcome">
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-8 mx-auto">
                    <h3 class="login-heading mb-4">Sign In</h3>
                    <form method = "POST" action = "/otplogin/">
                        <div class="form-label-group" data-validate="Please enter username">
                        <input type="text" value = "{{username}}" id="username" name="username" class="form-control" placeholder="Phone" required readonly autofocus>
                        <label for="username">Phone</label>
                        </div>

                        <div class="form-label-group" data-validate="Please enter a password">
                        <input type="text" id="otp" class="form-control" name = "otp" placeholder="OTP" required>
                        <label for="otp">OTP</label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Sign in</button>
                        
                        <div class="text-center">
                        <a class="small" href="/signup">Sign Up instead?</a></div>
                        <div class="text-center">
                            <a class="small" href="/login">Log in with password</a></div>
                    </form>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

{% endblock %}