{% extends 'apiCalls/base.html' %}
{% load static %}
{% block content %}

    <div class="welcome">
        <!-- <h1>Cotton Portal</h2> -->
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
            </div>

            <div class="col-sm-8">
                <div class="logincontainer">
                    <form method = "POST" action = "/updateprofile/">
                        <div class="heading">
                            <h3>Update Profile</h3>
                        </div>
                       
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="wrap-input">
                                    <input class="input" value = "{{first_name}}" type="text" name="firstname" placeholder="First name" required="true">                        
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="wrap-input">
                                    <input class="input" type="text" value = "{{last_name}}" name="lastname" placeholder="Last name" required="true">                           
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="wrap-input">
                                    <input class="input" value = "{{username}}" type="number" name="number" placeholder="Phone no." required="true">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="wrap-input">
                                    <input class="input" value = "{{email}}" type="text" name="email" placeholder="Email" required="true">
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="wrap-input">
                                    <input class="input" value = "{{aadhar}}" type="number" name="aadhar" placeholder="Adhaar No." required="true">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="wrap-input">
                                    <input class="input" value = "{{pan}}" type="number" name="pan" placeholder="PAN" required="true">
                                </div>
                            </div>
                        </div>  
                            <div class="login-btn">
                                <button type = "submit" class="login-form-btn">
                                    Update
                                </button>
                            </div>

                        <div class="flex-col-c">
                            
                        </div>
                    </form>                
                </div>
            </div>

            <div class="col-sm-2">
                
            </div>

        </div>
    </div>
<!-- </div> -->
{% endblock %}